# .env.template
APP_ENV=DEVELOPMENT

# Database Contract
DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=enterprise_rag_db

# External APIs
GITHUB_TOKEN=
OPENAI_API_KEY=
HF_TOKEN=

# Internal API Key for securing our endpoints
API_KEY=

# Local storage configuration
RAW_DATA_DIR=data_sandbox/